ntlmv1scan
*.o
.deps/
build-aux/
Makefile
Makefile.in
aclocal.m4
build-stamp
config.h
config.h.in
config.log
config.status
configure
debian/br.debhelper.log
debian/br.substvars
debian/files
libltdl/
libtool
stamp-h1
autom4te.cache/
*~
build-aux/
