#!/usr/bin/make -f

HEADER_PATH := $(CURDIR)/ntlmv1scan.h
VERSION := $(shell awk -F'"' '/^#define VERSION / {print $$2; exit}' $(HEADER_PATH) 2>/dev/null)

ifeq ($(strip $(VERSION)),)
VERSION := $(shell dpkg-parsechangelog -SVersion | sed 's/-[^-]*$$//')
endif

%:
	dh $@

override_dh_auto_configure:
	autoreconf -vfi
	dh_auto_configure

override_dh_gencontrol:
	dh_gencontrol -- -v$(VERSION)-1
