#!/usr/bin/make -f

VERSION := $(shell awk -F'"' '/^#define VERSION / {print $$2; exit}' ../../ntlmv1scan.h)

%:
	dh $@

override_dh_auto_configure:
	autoreconf -vfi
	dh_auto_configure

override_dh_gencontrol:
	dh_gencontrol -- -v$(VERSION)-1
